@font-face {
    font-family: "NeueHaasDisplayRoman";
    src: url("./fonts/neue-haas-grotesk-display-pro-cufonfonts-webfont/NeueHaasDisplayThin.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "NeueHaasDisplayXThin";
    src: url("./fonts/neue-haas-grotesk-display-pro-cufonfonts-webfont/NeueHaasDisplayXXThin.woff");
    font-weight: 100;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    text-shadow: none;
}
body {
    font-family: "NeueHaasDisplayRoman", Sans-serif;
    color: #000;
}
header{
    top: 0;
    position: sticky;
    display: flex;
    padding: 25px 25px 0;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    background-color: transparent;
}
.logo img{
    width: 121px;
}
.hamburger-icon{
    cursor: pointer;
}
.hamburger-icon img{
    vertical-align: top;
}
.mb20{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.ml-auto{
    margin-left: auto;
}
footer{
    background-color: #000;
    color: #fff;
    padding: 20px 25px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
footer ul{
    list-style: none;
    width: 13%;
}
footer ul:first-child{
    width: 15%;
}
footer ul:last-child{
    width: auto;
}
footer ul li{
    margin-bottom: 10px;
    font-size: 16px;
}
footer ul li.grey{
    color: #7c7c7c;
}
footer ul li.grey14{
    font-size: 14px; 
    color: #7c7c7c;
}
footer .social-icons span{
    margin-right: 10px;
    cursor: pointer;
}
.desk-only{
    display: block;
}
.mob-only{
    display: none;
}
@media screen and (max-width:768px) {
    footer{
        padding: 20px 15px;
    }
    header{
        padding: 25px 15px;
    }
    footer ul{
        flex: 33%;
    }
    footer ul:last-child,footer ul:nth-child(4),footer ul:nth-child(5){
       margin-top: 20px;
    }
    .desk-only{
        display: none;
    }
    .mob-only{
        display: block;
    }
    .logo img{
        width: 85px;
    }
}
