@font-face {
    font-family: "NeueHaasDisplayRoman";
    src: url("./fonts/neue-haas-grotesk-display-pro-cufonfonts-webfont/NeueHaasDisplayThin.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "NeueHaasDisplayXThin";
    src: url("./fonts/neue-haas-grotesk-display-pro-cufonfonts-webfont/NeueHaasDisplayXXThin.woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "NeueHaasDisplayBold";
    src: url("./fonts/neue-haas-grotesk-display-pro-cufonfonts-webfont/NeueHaasDisplayBold.woff");
    font-weight: 100;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: none;
}
/* body,html{
    overflow: hidden;
} */
body {
    font-family: "NeueHaasDisplayRoman", Sans-serif;
    color: #000;
}
body,html {
    overflow: auto;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;

  }

  /* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
  body::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
header{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 25px 25px 0;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    background-color: transparent;
}
.full-width{
    width: 100%;
}
.logo img{
    width: 121px;
}
.logo.featonly img{
    width: 91px;
}
.hamburger-icon{
    cursor: pointer;
}
.hamburger-icon img{
    vertical-align: top;
}
.mb20{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.ml20{
    margin-left: 20px;
}
.ml-auto{
    margin-left: auto;
}
footer{
    background-color: #000;
    color: #fff;
    padding: 20px 25px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
footer ul{
    list-style: none;
    width: 13%;
}
footer ul:first-child{
    width: 15%;
}
footer ul:last-child{
    width: auto;
}
footer ul li{
    margin-bottom: 10px;
    font-size: 16px;
}
footer ul li.grey{
    color: #7c7c7c;
}
footer ul li.grey14{
    font-size: 14px; 
    color: #7c7c7c;
}
footer .social-icons span{
    margin-right: 10px;
    cursor: pointer;
}
.desk-only{
    display: block;
}
.mob-only{
    display: none;
}
/* aspect ratio containers*/
.aspect-4-3{
    position: relative;
    padding-top: 133.333%;
}
.aspect-4-3 img{
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
}
.uppercase{
    text-transform: uppercase;
}

/*hamburger*/
  #overlay .toggle{
      /* position:absolute;
      top:72px;
      right:72px */
      float: right;
      margin: 70px 70px 0 0;
      cursor: pointer;
  }
  .overlay {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }
  /* .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
  } */
  .overlay nav {
    position: relative;
    height: auto;
    top: 60%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: 400;
    padding: 0 70px;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay-menu ul.second{
      padding-left: 200px;
      position: absolute;
      display: none;
      margin-top: 0;
  }
  .overlay-menu ul.second.show{
    display: inline-block;
}
.overlay-menu ul.second li img{
    display: none;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -40px;
    left: 150%;
}
.overlay-menu ul.second li:hover img{
    display:block;
}
  .overlay ul li {
    display: block;
    margin-bottom: 30px;
    /* position: relative; */
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #000;
    font-family: 'NeueHaasDisplayXThin';
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover,.overlay ul li a:focus {
    width: 100%;
    font-weight: bold;
  }
  .hamburger-back{
      display: none;
  }
  /* .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #000;
    transition: .35s;
  } */
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  .change-background{
      background-color: #ac5c44;
  }
@media screen and (max-width:768px) {
    footer{
        padding: 20px 15px;
    }
    header{
        padding: 25px 15px;
    }
    footer ul{
        flex: 33%;
    }
    footer ul:last-child,footer ul:nth-child(4),footer ul:nth-child(5){
       margin-top: 20px;
    }
    .desk-only{
        display: none;
    }
    .mob-only{
        display: block;
    }
    .logo img{
        width: 85px;
    }
    .aspect-4-3{
        padding-top: 116.66%;
    }
    .aspect-4-3 img{
        width: 100%;
    }
    /*hamburger*/
    .overlay nav {
        position: relative;
        height: auto;
        top: 0;
        transform: translateY(0%);
        margin-top: 165px;
        font-size: 36px;
        font-weight: 400;
        padding: 0 70px;
      }
    .overlay-menu ul.first.hide-mobile,.overlay-menu ul.second img,.overlay-menu ul.second li:hover img{
        display: none;
    }
    .hamburger-back{
        display: block;
        float: left;
    margin: 70px 0px 0 70px;
    cursor: pointer;
    }
    .overlay-menu ul.second.show li a{ 
        color: #fff;
    }
    .overlay-menu ul.second.show{
        left:0;
        position: relative;
        padding-left: 0px;
       
    }
    
}
