@font-face {
    font-family: "NeueHaasDisplayRoman";
    src: url("./fonts/neue-haas-grotesk-display-pro-cufonfonts-webfont/NeueHaasDisplayThin.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "NeueHaasDisplayXThin";
    src: url("./fonts/neue-haas-grotesk-display-pro-cufonfonts-webfont/NeueHaasDisplayXXThin.woff");
    font-weight: 100;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: none;
}
/* body,html{
    overflow: hidden;
} */
body {
    font-family: "NeueHaasDisplayRoman", Sans-serif;
    color: #000;
}
body,html {
    overflow: auto;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;

  }
  
  /* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
  body::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
header{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 25px 25px 0;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    background-color: transparent;
}
.logo img{
    width: 121px;
}
.hamburger-icon{
    cursor: pointer;
}
.hamburger-icon img{
    vertical-align: top;
}
.mb20{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.ml-auto{
    margin-left: auto;
}
footer{
    background-color: #000;
    color: #fff;
    padding: 20px 25px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
footer ul{
    list-style: none;
    width: 13%;
}
footer ul:first-child{
    width: 15%;
}
footer ul:last-child{
    width: auto;
}
footer ul li{
    margin-bottom: 10px;
    font-size: 16px;
}
footer ul li.grey{
    color: #7c7c7c;
}
footer ul li.grey14{
    font-size: 14px; 
    color: #7c7c7c;
}
footer .social-icons span{
    margin-right: 10px;
    cursor: pointer;
}
.desk-only{
    display: block;
}
.mob-only{
    display: none;
}
/* aspect ratio containers*/

.aspect-4-3{
    position: relative;
    padding-top: 133.333%;
}
.aspect-4-3 img{
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
}
@media screen and (max-width:768px) {
    footer{
        padding: 20px 15px;
    }
    header{
        padding: 25px 15px;
    }
    footer ul{
        flex: 33%;
    }
    footer ul:last-child,footer ul:nth-child(4),footer ul:nth-child(5){
       margin-top: 20px;
    }
    .desk-only{
        display: none;
    }
    .mob-only{
        display: block;
    }
    .logo img{
        width: 85px;
    }
    .aspect-4-3{
        padding-top: 116.66%;
    }
    .aspect-4-3 img{
        width: 100%;
    }
}
